# Meta Data Processing Worksheet

In [1]:
#load necessary packages:
import pandas as pd

In [7]:
#import metadata:
dfm = pd.read_csv ('meta_data_mini.csv')
dfm.head()

,asin,rank,description,title,brand,price
0,6546546450,2938573,Loud 'N Clear Personal Sound Amplifier allows ...,Loud 'N Clear&trade; Personal Sound Amplifier,idea village,NaN
1,7178680776,872854,No7 Lift & Luminate Triple Action Serum 50ml b...,No7 Lift &amp; Luminate Triple Action Serum 50...,NaN,44.99
2,7250468162,956696,No7 Stay Perfect Foundation now stays perfect ...,No7 Stay Perfect Foundation Cool Vanilla by No7,No7,28.76
3,7367905066,1870258,NaN,Wella Koleston Perfect Hair Colour 44/44 Mediu...,NaN,NaN
4,7414204790,67701,Lacto Calamine Skin Balance Daily Nourishing L...,Lacto Calamine Skin Balance Oil control 120 ml...,Pirmal Healthcare,12.15

In [8]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32216 entries, 0 to 32215
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   asin         32216 non-null  object
 1   rank         32216 non-null  int64
 2   description  14788 non-null  object
 3   title        32216 non-null  object
 4   brand        16837 non-null  object
 5   price        11126 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.5+ MB

In [9]:
len(dfm)

32216

In [16]:
#are all values unique (especially asins which will be our primary keys?)
dfm.nunique()

asin           31864
rank           31661
description    13457
title          31680
brand           7719
price           3481
dtype: int64

In [27]:
#all asins are not unique - get the count of how many non-unique asins:
num_non_unique = 32216-31864
num_non_unique

352

In [28]:
#remove duplicate asin rows
dfm.drop_duplicates(subset ="asin",
                     keep = False, inplace = True)

In [30]:
len(dfm)
dfm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31512 entries, 0 to 32215
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   asin         31512 non-null  object
 1   rank         31512 non-null  int64
 2   description  14278 non-null  object
 3   title        31512 non-null  object
 4   brand        16303 non-null  object
 5   price        10936 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.7+ MB

In [31]:
dfm.nunique()

asin           31512
rank           31312
description    13206
title          31331
brand           7644
price           3461
dtype: int64

In [32]:
number_dropped = 32216 - 31512
number_dropped

704

In [34]:
#include label for index row:
dfm.index.name = 'rownum'
#outputting dataframe to csv file (this will now be the products table):
dfm.to_csv('products.csv')

In [35]:
#import metadata:
dfab = pd.read_csv ('meta_also_buy.csv')
dfab.head()

,asin,also_buy1,also_buy2,also_buy3,also_buy4,also_buy5,also_buy6,also_buy7,also_buy8,also_buy9,...,also_buy91,also_buy92,also_buy93,also_buy94,also_buy95,also_buy96,also_buy97,also_buy98,also_buy99,also_buy100
0,7178680776,B01E7LCSL6,B008X5RVME,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7367905066,B0041PBXX8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9742121109,B00IWI42GU,B005MZPP6M,B00BQKRFE2,B073K2C8C1,B00FM63WNY,B00OIDYK6A,B005IDTVC2,B015F41H3O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9790787006,B004D8JQ4G,B0020MMD0G,B00ENL4HJW,B011YR4E4A,B001B0X05U,60539100,B008X9T0B0,B004IFOXFQ,B00AIZU9IU,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B000052YAN,B011IDBQH8,B00IA1JMEQ,B01JS1KMAO,B00119TXPW,B00BM8P08G,B0013GAIAW,B003O2RM5W,B0087W2ZME,B001E96P6O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
dfab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6516 entries, 0 to 6515
Columns: 101 entries, asin to also_buy100
dtypes: object(101)
memory usage: 5.0+ MB

In [17]:
len(dfab)
dfab.nunique()

asin           6481
also_buy1      5767
also_buy2      4533
also_buy3      3569
also_buy4      2903
               ...
also_buy96      106
also_buy97       81
also_buy98       52
also_buy99       29
also_buy100       9
Length: 101, dtype: int64